<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Assignment: Notebook for Peer Assignment

Estimated time needed: 45 minutes

# Assignment Scenario

Congratulations! You have just been hired by a US Venture Capital firm as a data analyst.

The company is considering foreign grain markets to help meet its supply chain requirements for its recent investments in the microbrewery and microdistillery industry, which is involved with the production and distribution of craft beers and spirits.

Your first task is to provide a high level analysis of crop production in Canada. Your stakeholders want to understand the current and historical performance of certain crop types in terms of supply and price volatility. For now they are mainly interested in a macro-view of Canada's crop farming industry, and how it relates to the relative value of the Canadian and US dollars.

# Introduction

Using this R notebook you will:

1.  Understand four datasets
2.  Load the datasets into four separate tables in a Db2 database
3.  Execute SQL queries unsing the RODBC R package to answer assignment questions

You have already encountered two of these datasets in the previous practice lab. You will be able to reuse much of the work you did there to prepare your database tables for executing SQL queries.

# Understand the datasets

To complete the assignment problems in this notebook you will be using subsetted snapshots of two datasets from Statistics Canada, and one from the Bank of Canada. The links to the prepared datasets are provided in the next section; the interested student can explore the landing pages for the source datasets as follows:

1.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210035901">Canadian Principal Crops (Data & Metadata)</a>
2.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210007701">Farm product prices (Data & Metadata)</a>
3.  <a href="https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01">Bank of Canada daily average exchange rates</a>

### 1. Canadian Principal Crops Data \*

This dataset contains agricultural production measures for the principle crops grown in Canada, including a breakdown by province and teritory, for each year from 1908 to 2020.

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A detailed description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210035901](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210035901)\
Detailed information is included in the metadata file and as header text in the data file, which can be downloaded - look for the 'download options' link.

### 2. Farm product prices

This dataset contains monthly average farm product prices for Canadian crops and livestock by province and teritory, from 1980 to 2020 (or 'last year', whichever is greatest).

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210007701](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210007701)
The information is included in the metadata file, which can be downloaded - look for the 'download options' link.

### 3. Bank of Canada daily average exchange rates \*

This dataset contains the daily average exchange rates for multiple foreign currencies. Exchange rates are expressed as 1 unit of the foreign currency converted into Canadian dollars. It includes only the latest four years of data, and the rates are published once each business day by 16:30 ET.

For this assignment you will use a snapshot of this dataset with only the USD-CAD exchange rates included (see next section). We have also prepared a monthly averaged version which you will be using below.

A brief description of this dataset and the original dataset can be obtained from the Bank of Canada Data Portal at:
[https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/](https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01)

( \* these datasets are the same as the ones you used in the practice lab)

### Dataset URLs

1.  Annual Crop Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv>

2.  Farm product prices: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv>

3.  Daily FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv>

4.  Monthly FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv>

<span style="color:red">**IMPORTANT:**</span> You will be loading these datasets directly into R data frames from these URLs instead of from the StatsCan and Bank of Canada portals. The versions provided at these URLs are simplified and subsetted versions of the original datasets.

#### Now let's load these datasets into four separate Db2 tables.

Let's first load the RODBC package:

In [1]:
library(RODBC)

## Problem 1

#### Create tables

Establish a connection to the Db2 database, and create the following four tables using the RODBC package in R.
Use the separate cells provided below to create each of your tables.

1.  **CROP_DATA**
2.  **FARM_PRICES**
3.  **DAILY_FX**
4.  **MONTHLY_FX**

The previous practice lab will help you accomplish this.

### Solution 1

In [2]:
# Establish database connection


library(RODBC);
    dsn_driver <- "{IBM DB2 ODBC Driver}"
    dsn_database <- "bludb"            # e.g. "bludb"
    dsn_hostname <- "55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud" # e.g "54a2f15b-5c0f-46df-8954-.databases.appdomain.cloud"
    dsn_port <- "31929"   # e.g. "32733" 
    dsn_protocol <- "TCPIP"            # i.e. "TCPIP"
    dsn_uid <- "wfc40160"        # e.g. "zjh17769"
    dsn_pwd <- "szlaAXcbEvazdUyn"      # e.g. "zcwd4+8gbq9bm5k4"  
    dsn_security <- "ssl"

conn_path=paste("DRIVER=",dsn_driver,
                  ";DATABASE=",dsn_database,
                 ";HOSTNAME=",dsn_hostname,
                  ";PORT=",dsn_port,
                  ";PROTOCOL=",dsn_protocol,
                  ";UID=",dsn_uid,
                 ";PWD=",dsn_pwd,
                  ";SECURITY=",dsn_security,        
                    sep="")
    conn <- odbcDriverConnect(conn_path, believeNRows=FALSE)
    conn

RODBC Connection 1
Details:
  case=nochange
  DRIVER={IBM DB2 ODBC DRIVER}
  UID=wfc40160
  PWD=******
  DATABASE=bludb
  HOSTNAME=55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud
  PORT=31929
  PROTOCOL=TCPIP
  SECURITY=SSL

In [6]:
# CROP_DATAN2:

df1 <- sqlQuery(conn, 
                    "CREATE TABLE CROP_DATA_1N (
                                      CD_ID INTEGER NOT NULL,
                                      YEAR DATE NOT NULL,
                                      CROP_TYPE VARCHAR(20) NOT NULL,
                                      GEO VARCHAR(20) NOT NULL, 
                                      SEEDED_AREA INTEGER NOT NULL,
                                      HARVESTED_AREA INTEGER NOT NULL,
                                      PRODUCTION INTEGER NOT NULL,
                                      AVG_YIELD INTEGER NOT NULL,
                                      PRIMARY KEY (CD_ID)
                                      )", 
                    errors=FALSE
                    )

    if (df1 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [7]:
# FARM PRICESN2

df2 <- sqlQuery(conn, 
                    "CREATE TABLE FARM_PRICES_1N (
                                      CD_ID INTEGER NOT NULL,
                                      DATE DATE NOT NULL,
                                      CROP_TYPE VARCHAR(20) NOT NULL,
                                      GEO VARCHAR(20) NOT NULL, 
                                      PRICE_PRERMT FLOAT(6),
                                      PRIMARY KEY (CD_ID)
                                      )", 
                    errors=FALSE
                    )

    if (df2 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [8]:
# DAILY_FXN2:


df3 <- sqlQuery(conn, 
                    "CREATE TABLE DAILY_FX_1N (
                                      DFX_ID INTEGER NOT NULL,
                                      DATE DATE NOT NULL,
                                      FXUSDCAD FLOAT(6),
                                      PRIMARY KEY (DFX_ID)
                                      )", 
                    errors=FALSE
                    )

    if (df3 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [9]:
# MONTHLY_FXN2:


df4 <- sqlQuery(conn, 
                    "CREATE TABLE MONTHLY_FX_1N (
                                      DFX_ID INTEGER NOT NULL,
                                      DATE DATE NOT NULL,
                                      FXUSDCAD FLOAT(8),
                                      PRIMARY KEY (DFX_ID)
                                      )", 
                    errors=FALSE
                    )

    if (df4 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

## Problem 2

#### Read Datasets and Load Tables

Read the datasets into R dataframes using the urls provided above. Then load your tables.

### Solution 2

In [10]:
df_crop=read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv', colClasses=c(YEAR="character"))
df_crop; 

df_farm=read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv', colClasses=c(DATE="character"))
df_farm ;

df_daily_fx=read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv', colClasses=c(DATE="character"))
df_daily_fx ;

df_monthly_fx=read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv', colClasses=c(DATE="character"))
df_monthly_fx;


sqlSave(conn, df_crop, "CROP_DATA_1N", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE, verbose=FALSE)
sqlSave(conn, df_farm, "FARM_PRICES_1N", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE, verbose=FALSE)
sqlSave(conn, df_daily_fx, "DAILY_FX_1N", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE, verbose=FALSE)
sqlSave(conn, df_monthly_fx, "MONTHLY_FX_1N", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE, verbose=FALSE)

    CD_ID YEAR       CROP_TYPE GEO          SEEDED_AREA HARVESTED_AREA
1    0    1965-12-31 Barley    Alberta       1372000     1372000
2    1    1965-12-31 Barley    Canada        2476800     2476800
3    2    1965-12-31 Barley    Saskatchewan   708000      708000
4    3    1965-12-31 Canola    Alberta        297400      297400
5    4    1965-12-31 Canola    Canada         580700      580700
6    5    1965-12-31 Canola    Saskatchewan   224600      224600
7    6    1965-12-31 Rye       Alberta         81000       81000
8    7    1965-12-31 Rye       Canada         323900      323900
9    8    1965-12-31 Rye       Saskatchewan   166000      166000
10   9    1965-12-31 Wheat     Alberta       2448000     2448000
11  10    1965-12-31 Wheat     Canada       11451650    11451650
12  11    1965-12-31 Wheat     Saskatchewan  7486000     7486000
13  12    1966-12-31 Barley    Alberta       1570000     1570000
14  13    1966-12-31 Barley    Canada        3019600     3019600
15  14    1966-12-31 Barley    Saskatchewan   913000      913000
16  15    1966-12-31 Canola    Alberta        252500      252500
17  16    1966-12-31 Canola    Canada         617100      617100
18  17    1966-12-31 Canola    Saskatchewan   295800      295800
19  18    1966-12-31 Rye       Alberta         70000       70000
20  19    1966-12-31 Rye       Canada         293400      293400
21  20    1966-12-31 Rye       Saskatchewan   161000      161000
22  21    1966-12-31 Wheat     Alberta       2633000     2633000
23  22    1966-12-31 Wheat     Canada       12016000    12016000
24  23    1966-12-31 Wheat     Saskatchewan  7853000     7853000
25  24    1967-12-31 Barley    Alberta       1732000     1732000
26  25    1967-12-31 Barley    Canada        3286850     3286850
27  26    1967-12-31 Barley    Saskatchewan   951000      951000
28  27    1967-12-31 Canola    Alberta        354100      354100
29  28    1967-12-31 Canola    Canada         661700      661700
30  29    1967-12-31 Canola    Saskatchewan   242800      242800
⋮   ⋮     ⋮          ⋮         ⋮            ⋮           ⋮
643 642   2018-12-31 Rye       Alberta         16000        9100
644 643   2018-12-31 Rye       Canada         135400       78900
645 644   2018-12-31 Rye       Saskatchewan    30400       21600
646 645   2018-12-31 Wheat     Alberta       3053100     2991300
647 646   2018-12-31 Wheat     Canada       10073100     9880900
648 647   2018-12-31 Wheat     Saskatchewan  5255700     5176200
649 648   2019-12-31 Barley    Alberta       1441900     1272700
650 649   2019-12-31 Barley    Canada        2995700     2727500
651 650   2019-12-31 Barley    Saskatchewan  1274800     1194000
652 651   2019-12-31 Canola    Alberta       2401200     2355600
653 652   2019-12-31 Canola    Canada        8571700     8456300
654 653   2019-12-31 Canola    Saskatchewan  4765200     4741300
655 654   2019-12-31 Rye       Alberta         26600        7800
656 655   2019-12-31 Rye       Canada         174700      102600
657 656   2019-12-31 Rye       Saskatchewan    47400       35500
658 657   2019-12-31 Wheat     Alberta       3020000     2917300
659 658   2019-12-31 Wheat     Canada       10125700     9655600
660 659   2019-12-31 Wheat     Saskatchewan  5226800     5066400
661 660   2020-12-31 Barley    Alberta       1481800     1326200
662 661   2020-12-31 Barley    Canada        3059900     2808700
663 662   2020-12-31 Barley    Saskatchewan  1264400     1187300
664 663   2020-12-31 Canola    Alberta       2377900     2313500
665 664   2020-12-31 Canola    Canada        8410400     8319800
666 665   2020-12-31 Canola    Saskatchewan  4588800     4574100
667 666   2020-12-31 Rye       Alberta         41600       29200
668 667   2020-12-31 Rye       Canada         236700      153000
669 668   2020-12-31 Rye       Saskatchewan    58200       47400
670 669   2020-12-31 Wheat     Alberta       3014300     2944700
671 670   2020-12-31 Wheat     Canada       10193600    10017800
672 671   2020-12-31 Wheat     Saskatchewan  5203700     5175400
    PRODUCTION AVG_YIELD
1    2504000   1825
2    4752900   1920
3    1415000   2000
4     215500    725
5     512600    885
6     242700   1080
7     116400   1435
8     453400   1400
9     224000   1350
10   4164000   1700
11  17673950   1545
12  10886000   1455
13   3462000   2205
14   6449950   2135
15   1981000   2170
16    249500    990
17    585100    950
18    288000    975
19    109000   1555
20    437600   1490
21    228600   1420
22   5198000   1975
23  22516850   1875
24  14615000   1860
25   3005000   1735
26   5505800   1675
27   1372000   1445
28    276700    780
29    563600    850
30    231300    955
⋮   ⋮          ⋮
643    30000   3333
644   236400   2995
645    47400   2194
646 10006100   3345
647 32351900   3274
648 14877100   2874
649  4955200   3890
650 10382600   3810
651  4449200   3730
652  5320100   2259
653 19607000   2319
654 11089000   2339
655    26800   3436
656   333400   3249
657   102800   2895
658 10263200   3518
659 32669800   3384
660 15360800   3032
661  5283000   3980
662 10740600   3820
663  4385100   3690
664  5212100   2253
665 18719700   2250
666 10202900   2231
667   107400   3691
668   487800   3188
669   122000   2572
670 11041000   3750
671 35183000   3512
672 15984200   3088

     CD_ID DATE       CROP_TYPE GEO          PRICE_PRERMT
1     0    1985-01-01 Barley    Alberta      127.39
2     1    1985-01-01 Barley    Saskatchewan 121.38
3     2    1985-01-01 Canola    Alberta      342.00
4     3    1985-01-01 Canola    Saskatchewan 339.82
5     4    1985-01-01 Rye       Alberta      100.77
6     5    1985-01-01 Rye       Saskatchewan 109.75
7     6    1985-02-01 Barley    Alberta      127.36
8     7    1985-02-01 Barley    Saskatchewan 119.64
9     8    1985-02-01 Canola    Alberta      347.27
10    9    1985-02-01 Canola    Saskatchewan 341.26
11   10    1985-02-01 Rye       Alberta       95.05
12   11    1985-02-01 Rye       Saskatchewan 103.46
13   12    1985-03-01 Barley    Alberta      130.29
14   13    1985-03-01 Barley    Saskatchewan 122.70
15   14    1985-03-01 Canola    Alberta      350.04
16   15    1985-03-01 Canola    Saskatchewan 349.77
17   16    1985-03-01 Rye       Alberta       96.77
18   17    1985-03-01 Rye       Saskatchewan 106.38
19   18    1985-04-01 Barley    Alberta      127.39
20   19    1985-04-01 Barley    Saskatchewan 125.48
21   20    1985-04-01 Canola    Alberta      363.84
22   21    1985-04-01 Canola    Saskatchewan 364.36
23   22    1985-04-01 Rye       Alberta       95.80
24   23    1985-04-01 Rye       Saskatchewan 106.90
25   24    1985-05-01 Barley    Alberta      125.62
26   25    1985-05-01 Barley    Saskatchewan 118.85
27   26    1985-05-01 Canola    Alberta      354.58
28   27    1985-05-01 Canola    Saskatchewan 359.99
29   28    1985-05-01 Rye       Alberta       92.65
30   29    1985-05-01 Rye       Saskatchewan 101.83
⋮    ⋮     ⋮          ⋮         ⋮            ⋮
2649 2648  2020-08-01 Wheat     Saskatchewan 254.26
2650 2649  2020-09-01 Barley    Alberta      204.45
2651 2650  2020-09-01 Barley    Saskatchewan 211.70
2652 2651  2020-09-01 Canola    Alberta      468.28
2653 2652  2020-09-01 Canola    Saskatchewan 463.52
2654 2653  2020-09-01 Rye       Alberta      164.64
2655 2654  2020-09-01 Wheat     Alberta      267.80
2656 2655  2020-09-01 Wheat     Saskatchewan 253.20
2657 2656  2020-10-01 Barley    Alberta      210.74
2658 2657  2020-10-01 Barley    Saskatchewan 209.91
2659 2658  2020-10-01 Canola    Alberta      472.93
2660 2659  2020-10-01 Canola    Saskatchewan 474.80
2661 2660  2020-10-01 Rye       Alberta      198.12
2662 2661  2020-10-01 Wheat     Alberta      269.26
2663 2662  2020-10-01 Wheat     Saskatchewan 260.88
2664 2663  2020-11-01 Barley    Alberta      220.44
2665 2664  2020-11-01 Barley    Saskatchewan 210.63
2666 2665  2020-11-01 Canola    Alberta      490.48
2667 2666  2020-11-01 Canola    Saskatchewan 495.64
2668 2667  2020-11-01 Rye       Alberta      203.64
2669 2668  2020-11-01 Wheat     Alberta      273.30
2670 2669  2020-11-01 Wheat     Saskatchewan 267.52
2671 2670  2020-12-01 Barley    Alberta      228.41
2672 2671  2020-12-01 Barley    Saskatchewan 220.53
2673 2672  2020-12-01 Canola    Alberta      509.04
2674 2673  2020-12-01 Canola    Saskatchewan 507.33
2675 2674  2020-12-01 Rye       Alberta      202.41
2676 2675  2020-12-01 Rye       Saskatchewan 192.90
2677 2676  2020-12-01 Wheat     Alberta      279.59
2678 2677  2020-12-01 Wheat     Saskatchewan 271.90

     DFX_ID DATE       FXUSDCAD
1     0     2017-01-03 1.3435
2     1     2017-01-04 1.3315
3     2     2017-01-05 1.3244
4     3     2017-01-06 1.3214
5     4     2017-01-09 1.3240
6     5     2017-01-10 1.3213
7     6     2017-01-11 1.3250
8     7     2017-01-12 1.3106
9     8     2017-01-13 1.3141
10    9     2017-01-16 1.3152
11   10     2017-01-17 1.3057
12   11     2017-01-18 1.3099
13   12     2017-01-19 1.3303
14   13     2017-01-20 1.3356
15   14     2017-01-23 1.3291
16   15     2017-01-24 1.3174
17   16     2017-01-25 1.3088
18   17     2017-01-26 1.3103
19   18     2017-01-27 1.3123
20   19     2017-01-30 1.3114
21   20     2017-01-31 1.3030
22   21     2017-02-01 1.3074
23   22     2017-02-02 1.3016
24   23     2017-02-03 1.3016
25   24     2017-02-06 1.3099
26   25     2017-02-07 1.3167
27   26     2017-02-08 1.3157
28   27     2017-02-09 1.3127
29   28     2017-02-10 1.3084
30   29     2017-02-13 1.3082
⋮    ⋮      ⋮          ⋮
1004 1003   2021-01-07 1.2707
1005 1004   2021-01-08 1.2705
1006 1005   2021-01-11 1.2788
1007 1006   2021-01-12 1.2746
1008 1007   2021-01-13 1.2710
1009 1008   2021-01-14 1.2654
1010 1009   2021-01-15 1.2727
1011 1010   2021-01-18 1.2762
1012 1011   2021-01-19 1.2735
1013 1012   2021-01-20 1.2656
1014 1013   2021-01-21 1.2627
1015 1014   2021-01-22 1.2716
1016 1015   2021-01-25 1.2738
1017 1016   2021-01-26 1.2702
1018 1017   2021-01-27 1.2775
1019 1018   2021-01-28 1.2810
1020 1019   2021-01-29 1.2780
1021 1020   2021-02-01 1.2824
1022 1021   2021-02-02 1.2818
1023 1022   2021-02-03 1.2783
1024 1023   2021-02-04 1.2828
1025 1024   2021-02-05 1.2777
1026 1025   2021-02-08 1.2753
1027 1026   2021-02-09 1.2719
1028 1027   2021-02-10 1.2689
1029 1028   2021-02-11 1.2686
1030 1029   2021-02-12 1.2711
1031 1030   2021-02-16 1.2684
1032 1031   2021-02-17 1.2712
1033 1032   2021-02-18 1.2696

   DFX_ID DATE       FXUSDCAD
1   0     2017-01-01 1.319276
2   1     2017-02-01 1.310726
3   2     2017-03-01 1.338643
4   3     2017-04-01 1.344021
5   4     2017-05-01 1.360705
6   5     2017-06-01 1.329805
7   6     2017-07-01 1.268875
8   7     2017-08-01 1.260477
9   8     2017-09-01 1.228280
10  9     2017-10-01 1.260462
11 10     2017-11-01 1.276886
12 11     2017-12-01 1.277053
13 12     2018-01-01 1.242741
14 13     2018-02-01 1.258621
15 14     2018-03-01 1.293171
16 15     2018-04-01 1.273257
17 16     2018-05-01 1.287327
18 17     2018-06-01 1.312857
19 18     2018-07-01 1.313010
20 19     2018-08-01 1.304118
21 20     2018-09-01 1.303653
22 21     2018-10-01 1.300955
23 22     2018-11-01 1.320038
24 23     2018-12-01 1.343184
25 24     2019-01-01 1.330100
26 25     2019-02-01 1.320558
27 26     2019-03-01 1.336819
28 27     2019-04-01 1.337771
29 28     2019-05-01 1.345905
30 29     2019-06-01 1.328730
31 30     2019-07-01 1.310105
32 31     2019-08-01 1.327748
33 32     2019-09-01 1.324050
34 33     2019-10-01 1.318977
35 34     2019-11-01 1.323880
36 35     2019-12-01 1.317170
37 36     2020-01-01 1.308673
38 37     2020-02-01 1.328584
39 38     2020-03-01 1.395250
40 39     2020-04-01 1.405786
41 40     2020-05-01 1.396970
42 41     2020-06-01 1.355032
43 42     2020-07-01 1.349850
44 43     2020-08-01 1.322205
45 44     2020-09-01 1.322810
46 45     2020-10-01 1.321471
47 46     2020-11-01 1.306820
48 47     2020-12-01 1.280771
49 48     2021-01-01 1.272405
50 49     2021-02-01 1.274462

## Now execute SQL queries using the RODBC R package to solve the assignment problems.

## Problem 3

#### How many records are in the farm prices dataset?

### Solution 3

In [11]:
library(RODBC)

Sol=sqlQuery(conn, "SELECT COUNT(*) FROM FARM_PRICES_1N;", errors=TRUE)
Sol

              nrow(df_farm)
#Answer 2678

  1
1 1358

[1] 2678

## Problem 4

#### Which geographies are included in the farm prices dataset?

### Solution 4

In [12]:
Sol4= sqlQuery(conn, "SELECT DISTINCT GEO FROM FARM_PRICES_1N;", error=TRUE)
Sol4
#farmpricdf$GEO

#Answer: Alberta and Saskatchewan

  GEO
1 Alberta
2 Saskatchewan

## Problem 5

#### How many hectares of Rye were harvested in Canada in 1968?

### Solution 5

In [13]:

query <- "SELECT sum(HARVESTED_AREA) 
    FROM CROP_DATA_1N
    WHERE YEAR(YEAR) = '1968' AND
          CROP_TYPE = 'Rye' AND GEO='Canada' ;"
view <- sqlQuery(conn,query)
 view

  1
1 274100

## Problem 6

#### Query and display the first 6 rows of the farm prices table for Rye.

### Solution 6

In [15]:
query= "SELECT * FROM FARM_PRICES_1N 
WHERE CROP_TYPE='Rye' 
LIMIT 6;"
view=sqlQuery(conn,query)
view
#or 
#head(farmpricdf)

  CD_ID DATE       CROP_TYPE GEO          PRICE_PRERMT
1  4    1985-01-01 Rye       Alberta      100.77
2  5    1985-01-01 Rye       Saskatchewan 109.75
3 10    1985-02-01 Rye       Alberta       95.05
4 11    1985-02-01 Rye       Saskatchewan 103.46
5 16    1985-03-01 Rye       Alberta       96.77
6 17    1985-03-01 Rye       Saskatchewan 106.38

## Problem 7

#### Which provinces grew Barley?

### Solution 7

In [17]:

   query <- 
    "SELECT DISTINCT(GEO) 
    FROM CROP_DATA_1N 
    WHERE CROP_TYPE = 'Barley';"
    view <- sqlQuery(conn,query)
    view

  GEO
1 Alberta
2 Canada
3 Saskatchewan

## Problem 8

#### Find the first and last dates for the farm prices data.

### Solution 8

In [20]:
Sol8=sqlQuery(conn, "SELECT min(DATE) FIRST, max(DATE) LAST FROM FARM_PRICES_1N")
Sol8

  FIRST      LAST
1 1985-01-01 2003-11-01

## Problem 9

#### Which crops have ever reached a farm price greater than or equal to $350 per metric tonne?

### Solution 9

In [21]:


query <- "SELECT DISTINCT(CROP_TYPE) 
        FROM FARM_PRICES_1N
    WHERE PRICE_PRERMT >=350 ;"
view <- sqlQuery(conn,query)
 view

  CROP_TYPE
1 Canola

## Problem 10

#### Rank the crop types harvested in Saskatchewan in the year 2000 by their average yield. Which crop performed best?

### Solution 10

In [23]:


query <- "SELECT * 
    FROM CROP_DATA_1N
    WHERE YEAR(YEAR)='2000' AND
GEO='Saskatchewan'
ORDER BY AVG_YIELD DESC ;"
view <- sqlQuery(conn,query)
 view

  CD_ID YEAR       CROP_TYPE GEO          SEEDED_AREA HARVESTED_AREA PRODUCTION
1 422   2000-12-31 Barley    Saskatchewan 2063900     1922300         5301600
2 431   2000-12-31 Wheat     Saskatchewan 6145100     6080300        13411800
3 428   2000-12-31 Rye       Saskatchewan   66800       46500           97800
4 425   2000-12-31 Canola    Saskatchewan 2387600     2371500         3424600
  AVG_YIELD
1 2800
2 2200
3 2100
4 1400

## Problem 11

#### Rank the crops and geographies by their average yield (KG per hectare) since the year 2000. Which crop and province had the highest average yield since the year 2000?

### Solution 11

In [28]:


query <- "SELECT CROP_TYPE, GEO, AVG(AVG_YIELD) AVERAGE
            FROM CROP_DATA_1N
            WHERE YEAR(YEAR)>='2000'
            GROUP BY CROP_TYPE, GEO
            ORDER BY AVERAGE DESC  ;"
view <- sqlQuery(conn,query)
 view

   CROP_TYPE GEO          AVERAGE
1  Barley    Alberta      3450
2  Barley    Canada       3253
3  Wheat     Alberta      3100
4  Barley    Saskatchewan 2971
5  Wheat     Canada       2845
6  Rye       Alberta      2683
7  Rye       Canada       2543
8  Wheat     Saskatchewan 2429
9  Rye       Saskatchewan 2226
10 Canola    Alberta      1999
11 Canola    Canada       1873
12 Canola    Saskatchewan 1754

## Problem 12

#### Use a subquery to determine how much wheat was harvested in Canada in the most recent year of the data.

### Solution 12

In [31]:
ex12=sqlQuery(conn, "SELECT CROP_TYPE, GEO, HARVESTED_AREA, YEAR
            FROM CROP_DATA_1N
            WHERE YEAR=(SELECT max(YEAR) FROM CROP_DATA_1N) AND
            GEO='Canada' AND
            CROP_TYPE='Wheat';")
ex12

  CROP_TYPE GEO    HARVESTED_AREA YEAR
1 Wheat     Canada 10017800       2020-12-31

## Problem 13

#### Use an implicit inner join to calculate the monthly price per metric tonne of Canola grown in Saskatchewan in both Canadian and US dollars. Display the most recent 6 months of the data.

### Solution 13

solution 13

In [44]:
final=sqlQuery(conn, "SELECT *
FROM CROP_DATA_1N, MONTHLY_FX_1N
WHERE YEAR(CROP_DATA_1N.YEAR)=YEAR(MONTHLY_FX_1N.DATE) AND 
MONTH(CROP_DATA_1N.YEAR)=MONTH(MONTHLY_FX_1N.DATE) AND 
CROP_TYPE='Canola' AND 
GEO='Saskatchewan'
LIMIT 6 ;")
final

     CD_ID YEAR CROP_TYPE GEO SEEDED_AREA HARVESTED_AREA PRODUCTION AVG_YIELD
     DFX_ID DATE FXUSDCAD

## Author(s)

<h4> Jeff Grossman </h4>

## Contributor(s)

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description                                                                                         |
| ---------- | ------- | ------------- | ---------------------------------------------------------------------------------------------------------- |
| 2021-04-01 | 0.7     | Jeff Grossman | Split Problem 1 solution cell into multiple cells, fixed minor bugs                                        |
| 2021-03-12 | 0.6     | Jeff Grossman | Cleaned up content for production                                                                          |
| 2021-03-11 | 0.5     | Jeff Grossman | Moved more advanced problems to optional honours module                                                    |
| 2021-03-10 | 0.4     | Jeff Grossman | Added introductory and intermediate level problems and removed some advanced problems                      |
| 2021-03-04 | 0.3     | Jeff Grossman | Moved some problems to a new practice lab as prep for this assignment                                      |
| 2021-03-04 | 0.2     | Jeff Grossman | Sorted problems roughly by level of difficulty and relegated more advanced ones to ungraded bonus problems |
| 2021-02-20 | 0.1     | Jeff Grossman | Started content creation                                                                                   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>